*.obj filter=lfs diff=lfs merge=lfs -text
*.mtl filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_018.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_021.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_022.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_001.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_004.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_012.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_016.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_017.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_020.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_new.obj filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_003.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_005.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_007.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_011.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_009.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_010.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_013.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_014.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_015.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_019.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_000.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_002.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_006.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_008.jpg filter=lfs diff=lfs merge=lfs -text
bed1a77d92d64f5cbbaaae4feed64ec1_new.mtl filter=lfs diff=lfs merge=lfs -text
